:root {
    --background-color: skyblue;
    --btn-color:red
  }
.theme-light{
    --background-color: skyblue;
    --btn-color: red;
}
.theme-dark{
    --background-color: #cccccc;
    --btn-color: green;
}